<div class="card widget" data-type="archives"
  style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label">文章归档</h3>
      <ul class="menu-list">
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2020/04/"><span class="level-start"><span
                class="level-item">2020年4月</span></span><span class="level-end"><span
                class="level-item tag">1</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2020/03/"><span class="level-start"><span
                class="level-item">2020年3月</span></span><span class="level-end"><span
                class="level-item tag">1</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2020/02/"><span class="level-start"><span
                class="level-item">2020年2月</span></span><span class="level-end"><span
                class="level-item tag">2</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2020/01/"><span class="level-start"><span
                class="level-item">2020年1月</span></span><span class="level-end"><span
                class="level-item tag">1</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2018/01/"><span class="level-start"><span
                class="level-item">2018年1月</span></span><span class="level-end"><span
                class="level-item tag">1</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2017/01/"><span class="level-start"><span
                class="level-item">2017年1月</span></span><span class="level-end"><span
                class="level-item tag">8</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2016/01/"><span class="level-start"><span
                class="level-item">2016年1月</span></span><span class="level-end"><span
                class="level-item tag">12</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2015/01/"><span class="level-start"><span
                class="level-item">2015年1月</span></span><span class="level-end"><span
                class="level-item tag">7</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2014/01/"><span class="level-start"><span
                class="level-item">2014年1月</span></span><span class="level-end"><span
                class="level-item tag">5</span></span></a></li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/archives/2013/01/"><span class="level-start"><span
                class="level-item">2013年1月</span></span><span class="level-end"><span
                class="level-item tag">2</span></span></a></li>
      </ul>
    </div>
  </div>
</div>
