<div class="card widget" data-type="categories"
  style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform-origin: center top;">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label"><%= name %></h3>
      <ul class="menu-list">
        <li>
          <a class="level is-mobile" href="/hexo-theme-icarus/categories/Configuration/">
            <span class="level-start"><span class="level-item">Web前端</span></span><span class="level-end"><span
                class="level-item tag">4</span></span></a>
          </li>
          <li>
          <a class="level is-mobile" href="/hexo-theme-icarus/categories/Configuration/">
            <span class="level-start"><span class="level-item">人工智能</span></span><span class="level-end"><span
                  class="level-item tag">4</span></span></a>
          </li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/"><span class="level-start"><span
                class="level-item">游戏</span></span><span class="level-end"><span
                class="level-item tag">12</span></span></a>
          <ul>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Analytics/"><span
                  class="level-start"><span class="level-item">单机游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Comment/"><span
                  class="level-start"><span class="level-item">网咯游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Donation/"><span
                  class="level-start"><span class="level-item">独立游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Other/"><span
                  class="level-start"><span class="level-item">主机游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Search/"><span
                  class="level-start"><span class="level-item">电脑游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
            <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Plugins/Share/"><span
                  class="level-start"><span class="level-item">掌机游戏</span></span><span class="level-end"><span
                    class="level-item tag">2</span></span></a></li>
          </ul>
        </li>
        <li><a class="level is-mobile" href="/hexo-theme-icarus/categories/Widgets/"><span class="level-start"><span
                class="level-item">电影电视</span></span><span class="level-end"><span
                class="level-item tag">2</span></span></a></li>
      </ul>
    </div>
  </div>
</div>
