<div class="card widget" data-type="links">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label">链接</h3>
      <ul class="menu-list">
        <li>
          <a class="level is-mobile" href="https://www.kuxai.com" target="_blank" rel="noopener">
            <span class="level-left">
              <span class="level-item">AIHub</span>
            </span>
            <span class="level-right">
              <span class="level-item tag">kuxai.com</span>
            </span>
          </a>
        </li>
        <li>
          <a class="level is-mobile" href="https://www.numpy.org.cn" target="_blank" rel="noopener">
            <span class="level-left">
              <span class="level-item">NumPy</span>
            </span>
            <span class="level-right">
              <span class="level-item tag">numpy.org.cn</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>