<div class="card widget" data-type="profile">
  <div class="card-content">
    <nav class="level">
      <div class="level-item has-text-centered flex-shrink-1">
        <div>
          <figure class="image is-128x128 mx-auto mb-2"><img class="avatar" src="https://ppoffice.github.io/hexo-theme-icarus/img/avatar.png"
              alt="PPOffice"></figure>
          <p class="title is-size-4 is-block" style="line-height:inherit;">陈治兵</p>
          <p class="is-size-6 is-block">Web前端工程师</p>
          <p class="is-size-6 is-flex justify-content-center"><i class="fas fa-map-marker-alt mr-1"></i><span>太阳系，地球，中国</span></p>
        </div>
      </div>
    </nav>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered is-marginless">
        <div>
          <p class="heading">文章</p><a href="/hexo-theme-icarus/archives">
            <p class="title">40</p>
          </a>
        </div>
      </div>
      <div class="level-item has-text-centered is-marginless">
        <div>
          <p class="heading">分类</p><a href="/hexo-theme-icarus/categories">
            <p class="title">9</p>
          </a>
        </div>
      </div>
      <div class="level-item has-text-centered is-marginless">
        <div>
          <p class="heading">标签</p><a href="/hexo-theme-icarus/tags">
            <p class="title">4</p>
          </a>
        </div>
      </div>
    </nav>
    <div class="level">
      <a class="level-item button is-primary is-rounded" href="https://github.com/ppoffice" target="_blank" rel="noopener">Follow</a>
    </div>
    <div class="level is-mobile is-multiline"><a class="level-item button is-transparent is-marginless" target="_blank"
        rel="noopener" title="Github" href="https://github.com/ppoffice"><i class="fab fa-github"></i></a><a
        class="level-item button is-transparent is-marginless" target="_blank" rel="noopener" title="Facebook"
        href="https://facebook.com"><i class="fab fa-facebook"></i></a><a
        class="level-item button is-transparent is-marginless" target="_blank" rel="noopener" title="Twitter"
        href="https://twitter.com"><i class="fab fa-twitter"></i></a><a
        class="level-item button is-transparent is-marginless" target="_blank" rel="noopener" title="Dribbble"
        href="https://dribbble.com"><i class="fab fa-dribbble"></i></a><a
        class="level-item button is-transparent is-marginless" target="_blank" rel="noopener" title="RSS"
        href="/hexo-theme-icarus/"><i class="fas fa-rss"></i></a></div>
  </div>
</div>
