<div class="card widget">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label">标签</h3>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Demo/">
            <span class="tag">游戏</span>
            <span class="tag">16</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Getting-Started/">
            <span class="tag">网络游戏</span>
            <span class="tag">4</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Icarus-User-Guide/">
            <span class="tag">NodeJs</span>
            <span class="tag">12</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Icarus%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97/">
            <span class="tag">CSS</span>
            <span class="tag">12</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Icarus%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97/">
            <span class="tag">web前端</span>
            <span class="tag">23</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Icarus%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97/">
            <span class="tag">人工智能</span>
            <span class="tag">3</span>
          </a>
        </div>
        <div class="control">
          <a class="tags has-addons" href="/hexo-theme-icarus/tags/Icarus%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97/">
            <span class="tag">爱，死亡和机器人</span>
            <span class="tag">3</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
