.vscode
node_modules
test
logs
run
cache
system/plugin/sdk/config
system/plugin/sdk/src
system/plugin/sdk/dist
system/plugin/vector/static
system/theme/icarus/static
system/theme/icarus/src
system/theme/icarus/config