<footer class="footer" style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1;">
  <div class="container">
    <div class="level">
      <div class="level-start">
        <a class="footer-logo is-block mb-2" href="<%= common.base %>">
          <img src="<%= common.base %>/static/images/logo.png" alt="Icarus" height="28">
        </a>
        <p class="is-size-7">
          <span>© 2021</span>&nbsp;
          <span><%- common.copyright %></span>
        </p>
      </div>
      <div class="level-end">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-transparent is-large" target="_blank" rel="noopener" title="Creative Commons" href="https://creativecommons.org/">
              <i class="fab fa-creative-commons"></i>
            </a>
          </p>
          <p class="control">
            <a class="button is-transparent is-large" target="_blank" rel="noopener" title="Join Gitter" href="https://gitter.im/hexo-theme-icarus/community">
              <i class="fab fa-gitter"></i>
            </a>
          </p>
          <p class="control">
            <a class="button is-transparent is-large" target="_blank" rel="noopener" title="Download on GitHub" href="https://github.com/ppoffice/hexo-theme-icarus">
              <i class="fab fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
