<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-brand justify-content-center">
      <a class="navbar-item navbar-logo" href="/hexo-theme-icarus/">
        <img src="<%= common.base %>/static/images/logo.png" alt="Icarus" height="28">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <% pageData.topNav.forEach(function(nav) { %>
        <a class="navbar-item" href="<%= nav.url %>" target="<%= nav.openType === 1 ? '_blank' : '_self' %>"><%= nav.name %></a>
        <% }); %>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" target="_blank" rel="noopener" title="Join Gitter" href="https://gitter.im/hexo-theme-icarus/community"><i class="fab fa-gitter"></i></a>
        <a class="navbar-item" target="_blank" rel="noopener" title="Download on GitHub" href="https://github.com/ppoffice/hexo-theme-icarus"><i class="fab fa-github"></i></a>
        <a class="navbar-item search" title="Search" href="javascript:;"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
</nav>
