<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-brand justify-content-center">
      <a class="navbar-item navbar-logo" href="/hexo-theme-icarus/">
        <img src="<%= common.domain %>/static/images/logo.png" alt="Icarus" height="28">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="/hexo-theme-icarus/">首页</a>
        <a class="navbar-item" href="/hexo-theme-icarus/archives">归档</a>
        <a class="navbar-item" href="/hexo-theme-icarus/categories">分类</a>
        <a class="navbar-item" href="/hexo-theme-icarus/tags">标签</a>
        <a class="navbar-item" href="/hexo-theme-icarus/about">关于</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" target="_blank" rel="noopener" title="Join Gitter" href="https://gitter.im/hexo-theme-icarus/community"><i class="fab fa-gitter"></i></a>
        <a class="navbar-item" target="_blank" rel="noopener" title="Download on GitHub" href="https://github.com/ppoffice/hexo-theme-icarus"><i class="fab fa-github"></i></a>
        <a class="navbar-item search" title="Search" href="javascript:;"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
</nav>
