<a id="back-to-top" title="Back to top" href="javascript:;" class="card has-text-centered rise-up fade-in" style="left: 1307.75px; width: 64px; bottom: 20px;" cursorshover="true">
  <i class="fas fa-chevron-up" cursorshover="true"></i>
</a>
